header
  img#logo(src="img/fractalLogo.png")
  a(target='_blank', href='http://github.com/wearefractal')
    img.icon(src="img/githubGreen.png", border='0')
  a(target='_blank', href='http://twitter.com/wearefractal')
    img.icon(src="img/twitter.png")

.feature
  div.grey We do Open Source.
  | with over 80 Open Source projects, 
  
  | we know how to translate the power 
  br
  | of community into an Open Source 
  
  | strategy that works.
  br
  br
  span.contact 
    | contact us 
    a(target="_blank", href="http://twitter.com/wearefractal") @WeAreFractal

  #chart.feature